.container-login {
  width: 117rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  border-radius: 2.5rem;
  position: relative;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.login-footer {
  background-color: var(--primary);
  height: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0  0 2.5rem 2.5rem;
  margin-left: -1rem;
}

.box {
  width: 50%;
  height: 775px;
  padding: 5rem;
}

form {
  margin-top: 10rem;
}

/* Box first child */

.box:first-child h1 {
  font-size: 6rem;
  letter-spacing: .5rem;
  font-weight: normal;
}

.box:first-child h1:first-child{
  color: rgb(203,210,215);
}

.box:first-child h1:nth-child(2) {
  color: var(--primary);
  font-weight: 500;
  margin-top: 3rem;
}

.box:first-child p {
  text-align: justify;
  margin-top: 3rem;
  color: #ccc;
  letter-spacing: .2rem;
  font-size: 1.8rem;
}

/* Box last child */

.box:last-child {
  align-items: center;
}

.box:last-child h1 {
  margin-top: 7rem;
  letter-spacing: .3rem;
  color: rgb(155,169,183);
  font-weight: 600;
}

.box:last-child p {
  color: rgb(180,180,180);
}

/* Botão de contato */

.contato {
  margin-top: 4rem;
  border: none;
  background-color: #fff;
  color: rgb(180,180,180);
  cursor: pointer;
}

.contato::after {
  content: "";
  display: flex;
  flex-direction: column;
  border-top: .3rem solid var(--primary);
  height: 5px;
  width: 3rem;
  margin: .2rem 0rem 0rem 3.6rem;
  opacity: 0;
  transition: .6s;
}

.contato:hover::after {
  opacity: 1;
}

/* Efeitos do formulário de login */

.input-content {
  position: relative;
  height: 5rem;
  color: #92959b;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  width: 40rem;
}

.input-content input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.input-content label {
  position: absolute;

  height: 100%;
  width: 100%;

  top: 0;

  pointer-events: none;
  border-bottom: 0.1rem solid #eee;
}

.input-content label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  height: 100%;
  width: 100%;
  border-bottom: 0.3rem solid var(--primary);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0.5rem;
  transition: all 0.3s ease;
}

.input-content input:focus + .label-name .content-name,
.input-content input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 1.4rem;
}

.input-content input:focus + .label-name::after,
.input-content input:valid + .label-name::after {
  transform: translateX(0);
}

.content-icon {
  position: absolute;
  right: 0;

  padding-top: 2rem;

  cursor: pointer;
}

/* Botões login */

.botoesLogin {
  display: flex;
  justify-content: space-between;
}

.box:last-child form button {
  margin-top: 3rem;
  width: 18rem;
  height: 5rem;
  cursor: pointer;
}

.box:last-child form button:first-child {
  background-color: var(--primary);
  color: #fff;
  transition: .6s;
  border: none;
}

.box:last-child form button:hover:first-child {
  background-color: #fff;
  color: var(--primary);
  border: .1rem solid var(--primary);
}

.box:last-child form button:last-child {
  background-color: #fff;
  color: var(--primary);
  transition: .6s;
  border: .1rem solid var(--primary);
}

.box:last-child form button:hover:last-child {
  background-color: var(--primary);
  color: #fff;
  transition: .6s;
}

.box:last-child form p {
  color: red;
  font-weight: 500;
  text-align: center;
}

/* Responsividade */

@media screen and (max-width: 1200px){
  .container-login {
    width: 100rem;
  }
}


