
.fundo {
  display: flex;
  background-color: var(--cor-de-fundo);
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container-login {
  width: 117rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  background-color: #fff;
  border-radius: 2.5rem;
  position: relative;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.login-footer {
  background-color: var(--primary);
  height: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0  0 2.5rem 2.5rem;
  margin-left: -1rem;
}

.box {
  width: 50%;
  height: 775px;
  padding: 5rem;
}

.box:first-child {
  font-size: 6rem;
}

.box:first-child span {
  letter-spacing: .5rem;
}

.box:first-child span:first-child{
  color: rgb(203,210,215);
}

.box:first-child span:last-child {
  color: var(--primary);
  font-weight: 600;
}

.box:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
