<div class="fundo">
  <div class="container-login">
    <div class="hgroup">
      <div class="vgroup box">
        <h1>Agenda</h1>
        <h1>De Saúde</h1>

        <p>O HealthSchedule é um sistema de gereciamento de agenda médica, visando agregar e facilitar no dia a dia de clinicas e consultórios médicos.</p>

        <img src="../../assets/logo-login.png" alt="Logo da tela de login">
      </div>

      <div class="vgroup box">
        <h1>HealthSchedule</h1>
        <p>Bem vindo! Entre em sua conta.</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p *ngIf="submitted">Usuário ou senha incorretos!</p>
          <div class="input-content">
            <input
              type="text"
              name="name"
              autocomplete="off"
              required
              formControlName="name"
            />
            <label for="name" class="label-name">
              <span class="content-name">Usuário</span>
            </label>
          </div>

          <div class="input-content">
            <input
              type="{{ inputPasswordType ? 'password' : 'text' }}"
              name="name"
              autocomplete="off"
              required
              formControlName="senha"
            />
            <label for="name" class="label-name">
              <span class="content-name">Senha</span>
            </label>

            <span
              class="content-icon"
              (click)="changeInputTextType()"
              *ngIf="loginForm.get('senha').value.length > 0"
            >
              <i
                class="fa fa-eye fa-lg"
                aria-hidden="true"
                *ngIf="inputPasswordType"
              ></i>
              <i
                class="fa fa-eye-slash fa-lg"
                aria-hidden="true"
                *ngIf="!inputPasswordType"
              ></i>
            </span>
          </div>

          <div class="botoesLogin">
            <button type="submit">Entrar</button>
            <button type="button">Registrar-se</button>
          </div>
        </form>

        <button type="button" class="contato">Entre em contato</button>
      </div>
    </div>
    <div class="login-footer">
    </div>
  </div>
</div>
