.header-container {
  height: 6rem;
  display: flex;
  align-items: center;
}

.loader-container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;

  z-index: 99;

  background: black;
  opacity: .8;
}

.spinner {
  top: 50%;
  left: 50%;
}
