<div class="vgroup">
  <div class="bloco search-bar">
    <button mat-button>
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button>
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-button>
      <mat-icon>close</mat-icon>
    </button>

    <mat-form-field appearance="outline" class="f1 mr">
      <mat-label>Pesquisar</mat-label>
      <input type="text" matInput placeholder="Pesquise pelo nome">
      <mat-icon matSuffix style="cursor: pointer;">search</mat-icon>
    </mat-form-field>

    <mat-checkbox class="mr">Somente Ativos</mat-checkbox>
  </div>
</div>
