.menu-button::after {
  content: "";
  opacity: 0;
  border-bottom: .2rem solid var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-button:hover::after {
  opacity: 1;
}

.user-button {
  position: absolute;
  right: 2rem;
}

::ng-deep .user-menu {
  width: 30rem;
}
