<div class="header-container">
  <button mat-button class="menu-button">
    <mat-icon>view_agenda</mat-icon>
    Agenda Médica
  </button>

  <button class="menu-button" mat-button [matMenuTriggerFor]="afterMenu">
    Cadastros
  </button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      Usuários
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('pacientes')">
      <mat-icon>face</mat-icon>
      Pacientes
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('medicos')">
      <mat-icon>masks</mat-icon>
      Medicos
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('especialidades')">
      <mat-icon>add_circle</mat-icon>
      Especialidades
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('tipos_agendamento')">
      <mat-icon>add_circle</mat-icon>
      Tipos de Agendamento
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('convenios')">
      <mat-icon>domain_add</mat-icon>
      Convênios
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('consultorios')">
      <mat-icon>domain_add</mat-icon>
      Consultórios
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('empresas')">
      <mat-icon>domain_add</mat-icon>
      Empresas
    </button>
  </mat-menu>

  <button mat-icon-button aria-label="Example icon button with a home icon" class="user-button" [matMenuTriggerFor]="menu">
    <mat-icon>home</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="user-menu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      Usuário Logado:
    </button>
    <button mat-menu-item>
      <mat-icon>domain</mat-icon>
      Consultório Logado:
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirecionarRota('login')">
      <mat-icon>exit_to_app</mat-icon>
      Sair
    </button>
  </mat-menu>
</div>
